@import url("../icons/fontawesome/css/all.min.css");
.display-none {
  display: none;
}

.alert-role-box {
  background: #fed7d7;
  border: 1px solid #fc8181;
  color: #c53030;
  padding: 0.5rem 0.7rem;
  margin: 0.6rem 0.7rem;
}

@font-face {
  font-family: nunito;
  src: url("../fonts/Nunito-Regular.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
  background-color: #eee;
  font-size: 1.6rem;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
}

::selection {
  background-color: #ddd;
  color: rgba(34, 37, 70, 0.7);
}

.modal-bg, .menu-nav-bg {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 19;
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

.show-modal-bg {
  opacity: 1 !important;
  pointer-events: auto !important;
}

.container {
  background: white;
  height: 100vh;
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 25% 75%;
}

.mobile-header {
  display: none;
}

.header {
  background: white;
  padding: 2.5rem 2rem 2.5rem 3rem;
  overflow-y: scroll;
  z-index: 20;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.header::-webkit-scrollbar {
  display: none;
}
.header form {
  background: #eee;
  width: 100%;
  border-radius: 1rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 3rem;
}
.header form input[type=search] {
  background: transparent;
  outline: none;
  border: 0px solid transparent;
  height: 3rem;
  width: 100%;
}
.header form button {
  background: white;
  outline: 0;
  border: 0px solid transparent;
  margin-left: 1rem;
  font-size: 1.8rem;
  padding: 3px 6px 4px 8px;
  font-weight: 500;
  border-radius: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  color: #222546;
}
.header form button:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  color: #fc6917;
}

.header h2 {
  text-align: center;
  font-family: nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
  color: #222546;
}
.header h2 span {
  color: #fc6917;
}

.nav {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
}
.nav ul li {
  list-style: none;
  margin: 0rem 3rem 1rem 1rem;
}
.nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.nav ul li a.activate-feed, .nav ul li a.activate-home, .nav ul li a.activate-holly, .nav ul li a.activate-nolly, .nav ul li a.activate-bolly, .nav ul li a.activate-others {
  color: #fc6917;
}
.nav ul li a.activate-feed i, .nav ul li a.activate-home i, .nav ul li a.activate-holly i, .nav ul li a.activate-nolly i, .nav ul li a.activate-bolly i, .nav ul li a.activate-others i {
  visibility: visible;
  color: #fc6917;
}
.nav ul li a:hover {
  color: #fc6917;
}
.nav ul li a:hover i {
  visibility: visible;
  color: #fc6917;
}
.nav ul li a i {
  margin-right: 1rem;
  visibility: hidden;
}
.nav ul li a span {
  width: 0rem;
  margin-right: 0.8rem;
}

.random-movie-container {
  background: #eee;
  border-radius: 1.5rem;
  padding: 1rem 2rem 1.5rem;
  margin-top: 1rem;
}
.random-movie-container h3 {
  font-family: nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
  text-align: center;
  color: #222546;
}
.random-movie-container div {
  background: white;
  margin-top: 1rem;
  border-radius: 0.75rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.random-movie-container div .no-content {
  text-align: center;
  padding: 1rem 0;
}
.random-movie-container div ul {
  text-align: center;
  padding: 0.1rem 0;
  font-size: 1.4rem;
}
.random-movie-container div ul li {
  list-style: none;
  margin: 0.5rem 0;
}
.random-movie-container div ul li a {
  color: rgba(0, 0, 0, 0.7);
}
.random-movie-container div ul li a:hover {
  text-decoration: none;
  border-bottom: 1px solid #fc6917;
}

.login-icon-wrap {
  text-align: center;
  margin-top: 1rem;
  padding-top: 1rem;
}
.login-icon-wrap div:nth-child(1) {
  color: #fc6917;
  margin-bottom: 0.5rem;
}
.login-icon-wrap div:nth-child(1) span {
  background: #eee;
  padding: 0.5rem 0.8rem;
  border-radius: 1rem;
}
.login-icon-wrap div:nth-child(2) {
  font-size: 1.4rem;
}

.main {
  border: 0rem solid #eee;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  overflow-x: hidden;
  margin: 1rem 1.5rem;
  background: #eee;
  border-left-width: 1rem;
  border-right-width: 1rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.main::-webkit-scrollbar {
  display: none;
}
.main-display {
  color: black;
  background: white;
  min-height: calc(100vh - 6rem);
  width: 95%;
  margin: 2rem auto;
  border-top-right-radius: 3.5rem;
  border-bottom-right-radius: 3.5rem;
  padding: 1.5rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.admin-access-auth-container {
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.admin-access-auth-container::-webkit-scrollbar {
  display: none;
}

.admin-access-auth-wrap {
  background: #222546;
  color: white;
  width: 40rem;
  max-width: 100%;
  padding: 1rem 0;
  border-radius: 1rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}
.admin-access-auth-wrap h1 {
  font-family: nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
  text-align: center;
}

.signin-form {
  text-align: center;
}
.signin-form h3 {
  font-family: nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
  color: #fc6917;
}
.signin-form .other-opt {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  padding-bottom: 2rem;
}
.signin-form .other-opt span {
  opacity: 0.8;
}
.signin-form .other-opt span:hover {
  opacity: 1;
}

.signup-form {
  text-align: center;
}
.signup-form h3 {
  font-family: nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
  color: #fc6917;
}
.signup-form .other-opt {
  padding-bottom: 2rem;
}
.signup-form .other-opt span {
  opacity: 0.8;
}
.signup-form .other-opt span:hover {
  opacity: 1;
}

.input-fc label {
  display: block;
}
.input-fc input {
  width: 90%;
  margin: 1rem 0;
  height: 4rem;
  padding-left: 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  outline: 0;
  border: 0;
  color: #222546;
}

.open-signin, .open-signup {
  cursor: pointer;
}

.submit-fc {
  margin: 1rem 0 0.3rem;
}
.submit-fc input[type=submit] {
  background: #fc6917;
  border: 0;
  width: 90%;
  height: 4rem;
  border-radius: 1rem;
  cursor: pointer;
  color: white;
  font-size: 2rem;
  padding-bottom: 0.2rem;
  font-family: nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
}
.submit-fc input[type=submit]:hover {
  opacity: 0.9;
}

.profile-header {
  position: relative;
  z-index: 2;
  overflow: hidden;
  padding: 1rem 2rem 0rem;
  text-align: center;
}
.profile-header h2 {
  font-family: nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
  font-size: 2.8rem;
}

.user-img {
  z-index: 3;
  text-align: center;
}
.user-img i {
  font-size: 10rem;
  background-color: #eee;
  color: #fc6917;
  padding: 1rem 2rem 2rem;
  border-radius: 10rem;
  overflow: hidden;
  border: 3px solid white;
}

.profile-body {
  padding: 0 2rem;
  border-top: 2px groove #222546;
  border-bottom: 2px groove #222546;
  margin: 2.5rem 0;
}

.other-admins {
  margin-top: 0.5rem;
}

.admin-action-options {
  text-align: center;
}
.admin-action-options ul {
  border-top: 2px groove #222546;
  border-bottom: 2px groove #222546;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.admin-action-options ul li {
  list-style: none;
  margin: 2rem 0;
}
.admin-action-options ul li a {
  text-decoration: none;
  color: #222546;
  font-weight: 600;
}
.admin-action-options ul li a i {
  font-size: 4rem;
  background-color: #eee;
  padding: 1rem;
  border-radius: 100%;
  margin-bottom: 1rem;
}
.admin-action-options ul li a:hover {
  color: #fc6917;
}
.admin-action-options ul li a:hover i {
  -webkit-animation-name: swing;
  animation-name: swing;
  animation-duration: 1s;
}

@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
.file-upload-progress {
  height: 1.5rem;
  background-color: rgba(252, 105, 23, 0.3);
  border-radius: 10rem;
  margin: 2rem 0;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.file-upload-progress-bar {
  background-color: #222546;
  height: 1.5rem;
  transition: width 0.6s ease;
  border-radius: 10rem;
  width: 0;
}

#file-upload-status {
  margin-top: 1rem;
  font-size: 2rem;
  height: 2.8rem;
}

.file-upload-div {
  margin: 4rem 4rem 2rem;
  text-align: center;
  border: 2px dashed #222546;
  padding: 4rem 3rem 3.5rem;
}

.file-input-fc {
  background-color: #eee;
  display: flex;
  border-radius: 10rem;
}
.file-input-fc .file-input-wrap {
  position: relative;
  overflow-x: hidden;
  display: inline-block;
}
.file-input-fc .file-input-wrap input[type=file] {
  position: relative;
  top: 0;
  left: -7.2rem;
  padding: 0.75rem 0;
  font-weight: 600;
  color: #fc6917;
}
.file-input-fc label {
  display: inline-block;
  background: rgba(34, 37, 70, 0.7);
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 10rem;
  width: 10rem;
  white-space: nowrap;
}
.file-input-fc label:hover {
  background-color: #222546;
}

.file-submit-fc {
  margin: 4rem 2rem;
}
.file-submit-fc button {
  outline: none;
  background-color: #222546;
  padding: 0.75rem 1.5rem;
  font-size: 2.1rem;
  border: 0 solid transparent;
  color: white;
  border-radius: 1rem;
}
.file-submit-fc button:hover {
  background-color: rgba(34, 37, 70, 0.7);
}

.page-title span {
  font-size: 1.8rem;
  margin-left: -1rem;
}
.page-title span a {
  color: #222546;
}
.page-title span a:hover {
  color: #fc6917;
}
.page-title + p {
  margin-top: 0.6rem;
}

.upload-guidelines {
  padding-top: 1rem;
}
.upload-guidelines h4 {
  font-size: 1.8rem;
}
.upload-guidelines ol {
  margin-left: 3rem;
}
.upload-guidelines ol li {
  margin: 0.3rem 0;
}

@media screen and (max-width: 1000px) {
  .header {
    padding: 2.5rem 0.3rem 2.5rem 0.7rem;
  }

  .main-display {
    width: 97%;
  }
}
@media screen and (max-width: 750px) {
  .container {
    grid-template-columns: 100%;
  }

  .open-mobile-nav {
    transform: translateX(0%) !important;
  }

  .header {
    position: fixed;
    height: 100vh;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    width: 35rem;
    max-width: 100%;
    padding: 2.5rem 1rem;
  }

  .mobile-header {
    display: block !important;
    position: relative;
    padding: 0 2.4rem;
  }
  .mobile-header-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 0.8rem;
    align-items: center;
  }
  .mobile-header-wrap h2 {
    display: inline-block;
  }
  .mobile-header-wrap .menu-btn {
    display: inline-block;
    border: none;
    font-size: 2.5rem;
    margin-right: 1rem;
    outline: 0;
    background: white;
    cursor: pointer;
    z-index: 20;
    padding: 0.4rem 0.7rem 0;
    border-radius: 10rem;
  }

  .main {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    margin: 1rem;
  }
  .main-display {
    border-top-left-radius: 3.5rem;
    border-bottom-left-radius: 3.5rem;
    width: 98%;
  }
}
